.orderpage {
    background-color: #f5f6f6;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.orderpage h1 {
    color: black;
    font-size: 1.6rem;
    margin: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* overflow: hidden; */
}

.menulist {
    margin-top: 20px;
    width: 100%;
    height: 65vh;
    border: solid 2px black;
    overflow-y: scroll;
    overflow-x:hidden;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 20px;
    border: 2px solid black;
    /* Add a 1px solid border with a black color (adjust as needed) */
    padding: 30px;
    /* Add padding to create space between the content and the border (adjust as needed) */
    background-color: #f9a72b;
}

.personinputbox {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.menu {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    margin: 20px;
    border: 2px solid black;
    /* Add a 1px solid border with a black color (adjust as needed) */
    padding: 30px;
    /* Add padding to create space between the content and the border (adjust as needed) */
    background-color: #f9a72b;
}

.userinput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.menu input {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter button {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9a72b;
    border-radius: 20px;
    background-color: #4F2315;
    height: 80%;
}

.adder {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #4F2315;
    width: fit-content;
    justify-self: center;
}

.submit {
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    background-color: #4da537;
    color: white;
    font-size: larger;
    font-weight: bold;
    justify-self: center;
}