.homepage {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-bottom: 350px;
}

.top-left-image {
    position: absolute;
    z-index: 1;
    transform: rotate(40deg);
    top: 10vh;
    right: 90vw;
    width: 20vh;
    height: auto;
}

.mid-left-image {
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    top: 45vh;
    right: 93.5vw;
    width: 13.3vh;
    height: auto;
}

.top-right-image {
    position: absolute;
    z-index: 1;
    transform: rotate(40deg);
    bottom: 85.5vh;
    left: 94vw;
    width: 20vh;
    height: auto;
}

.mid-right-image {
    position: absolute;
    z-index: 1;
    transform: rotate(-85deg);
    top: 30vh;
    left: 93vw;
    width: 20vh;
    height: auto;
}

.bottom-right-image {
    position: absolute;
    z-index: 1;
    transform: rotate(-15deg);
    top: 63.5vh;
    left: 86.5vw;
    width: 26.7vh;
    height: auto;
}

.homepage h1 {
    position: absolute;
    color: white;
    font-size: 9.33vh;
    top: 5vh;
}

.homepage h2 {
    position: absolute;
    color: white;
    font-size: 3.33vh;
    top: 25vh;
}

.homepage button {
    position: absolute;
    font-weight: bold;
    color: black;
    background-color: white;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 65vh;
    font-size: 2vh;
    border-radius: 9999px;
    width: 20vh;
    height: 5.33vh;
}

.homepage button:hover {
    background-color: #d3d3d3;
}

@media (max-width:460px){
    .top-left-image {
        top: 20vh;
        right: 80vw;
        width: 30vw;
        height: auto;
    }
    
    .mid-left-image {
        top: 50vh;
        right: 83.5vw;
        width: 20vw;
        height: auto;
    }
    
    .top-right-image {
        bottom: 89vh;
        left: 88vw;
        width: 30vw;
        height: auto;
    }
    
    .mid-right-image {
        top: 35vh;
        left: 85vw;
        width: 15vh;
        height: auto;
    }
    
    .bottom-right-image {
        top: 65vh;
        left: 60vw;
        width: 50vw;
        height: auto;
    }
    
    .homepage h1 {
        position: absolute;
        color: white;
        font-size: 7vw;
        top: 5vh;
    }
    
    .homepage h2 {
        position: absolute;
        color: white;
        font-size: 4vw;
        top: 25vh;
    }

    .homepage h1 {
        font-size: 13vw;
        top: 7vh;
    }
    
    .homepage h2 {
        font-size: 5.5vw;
        top: 22vh;
    }
    
    .homepage button {
        top: 50vh;
        font-size: 3.5vw;
        width: 40vw;
        height: 11.5vw;
    }
}
/* @media (max-width: 393px) and (max-height: 852px){
    .homepage h1 {
        font-size: 56px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .homepage h2 {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    .homepage button {
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 1.2rem;
        margin: 20px;
    }
    .top-left-image {
        top: 18%;
        right: 80%;
        width: 30%;
        height: auto;
    }
    .mid-left-image {
        top: 50%;
        right: 86%;
        width: 20%;
        height: auto;
    }
    .top-right-image {
        bottom: 85%;
        left: 85%;
        width: 45%;
        height: auto;
    }
    .mid-right-image {
        top: 40%;
        left: 86%;
        width: 30%;
        height: auto;
    }
    .bottom-right-image {
        top: 66%;
        left: 60%;
        width: 55%;
        height: auto;
    }
}
@media (min-width: 1440px) and (min-height: 900px){
    .homepage h1 {
        font-size: 102px;
        margin-top: 220px;
        margin-bottom: 40px;
    }
    .homepage h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }
    .homepage button {
        border-radius: 60px;
        padding: 20px 40px;
        font-size: 2.4rem;
        margin: 40px;
    }
    .top-left-image {
        top: 10%;
        right: 90%;
        width: 15%;
        height: auto;
    }
    .mid-left-image {
        top: 45%;
        right: 90%;
        width: 15%;
        height: auto;
    }
    .top-right-image {
        bottom: 81%;
        left: 94%;
        width: 15%;
        height: auto;
    }
    .mid-right-image {
        top: 30%;
        left: 93%;
        width: 15%;
        height: auto;
    }
    .bottom-right-image {
        top: 66%;
        left: 88%;
        width: 15%;
        height: auto;
    }
} */